<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      prefix="dcterms: http://purl.org/dc/terms/
              rdfs: http://www.w3.org/2000/01/rdf-schema#
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              foaf: http://xmlns.com/foaf/0.1/
              rel: http://purl.org/vocab/relationship/
              tfinal: http://sovi.ddns.net/ucuenca/tfinal/"
              >

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#607D8B" />
        </f:facet>
        <title>Tendencias de TI - UCuenca</title>
        <ui:insert name="head"/>
    </h:head>

    <h:body >
        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false" appendTo="@(body)">
            <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
        </p:dialog>
        <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
        <ui:insert name="content"/>
        <p:growl id="msgBox" showDetail="true" showSummary="false"/>
    </h:body>

</html>