<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
    <ui:define name="content">
        <h:form id="frm">
            <p:commandButton value="Procesar Modelo" actionListener="#{ctrApp.procesar()}" update="msgBox"/>
        </h:form>

    </ui:define>

</ui:composition>