<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="content">
        <p:panel>
            <h1>Trabajo Final - Tendencias de TI</h1>
            <p>
                El proyecto plantea unificar las fuentes de información publica, para ello se planteó un escenario en que tres instituciones publicas
                comparten información
                <ul>
                    <li>Registro Civil (información disponible en base datos MySQL)</li>
                    <li>Senescyt (Excel Publicado en la Web)</li>
                    <li>IESS (Archivo Turtle Publicado en la Web)</li>
                </ul>
                Se parte de un modelo ontológico, luego se carga la información de las diferentes fuentes
                en el modelo, y mediante el uso de un razonador se obtiene las nuevas tripletas y se genera la pagina web anotada fon RDFa utilizando 
                plataforma JAVA con JSF
            </p>
            <p>
                <h2>Integrantes</h2>
                <ul>
                    <li>Ronnie Llanes</li>
                    <li>Edisson Tapia</li>
                    <li>Bayron Vasquez</li>
                </ul>
            </p>
        </p:panel>
        <c:forEach items="#{ctrRdf.individuos}" var="ind">
            <p:panel>
                <div about="#{ind.getIRI()}">
                    <h1>#{ctrRdf.label(ind.getIRI())}</h1>
                    <p:dataList value="#{ind.tipos}" var="tip">
                        <a property="rdf:typeOf" href="#{tip.getObject()}">
                        </a>
                        <h:outputText value="#{ctrRdf.label(tip.getObject())}"/>
                    </p:dataList>
                    <p:dataTable value="#{ind.sts}" var="st" selectionMode="single" rowKey="#{st.toString()}">
                        <f:facet name="header">Información General</f:facet>
                        <p:column  headerText="Descripción">
                            <h:outputText value="#{ctrRdf.label(st.getPredicate())}:"/>
                        </p:column>
                        <p:column headerText="Valor">
                            <a property="#{st.getPredicate()}" href="#{st.getObject()}">
                            </a>
                            <h:outputText value="#{ctrRdf.dato(st.getObject())}"/>
                        </p:column>
                    </p:dataTable>
                    <br/>
                    <br/>
                </div>
                <p:dataTable value="#{ind.regIess}" var="iess" selectionMode="single" rowKey="#{iess.toString()}"
                             rendered="#{ind.regIess.size() gt 0}">
                    <f:facet name="header">Historial Laboral</f:facet>
                    <p:column headerText="Empleador">
                        #{ctrRdf.fff(iess,'http://sovi.ddns.net/ucuenca/tfinal/empleador').getObject()}
                    </p:column>
                    <p:column headerText="Fec.Ingreso">
                        #{ctrRdf.dato(ctrRdf.fff(iess,'http://sovi.ddns.net/ucuenca/tfinal/fechaIngreso').getObject())}
                    </p:column>
                    <p:column headerText="Fec.Salida">
                        #{ctrRdf.dato(ctrRdf.fff(iess,'http://sovi.ddns.net/ucuenca/tfinal/fechaSalida').getObject())}
                    </p:column>
                </p:dataTable>
                <p:dataTable value="#{ind.regSenescyt}" var="univ" selectionMode="single" rowKey="#{univ.toString()}"
                             rendered="#{ind.regSenescyt.size() gt 0}">
                    <f:facet name="header">Historial Académico</f:facet>
                    <p:column headerText="URL" width="400">
                        <div about="#{univ.getURI()}">
                            #{univ.getURI()}
                        </div>
                    </p:column>
                    <p:column headerText="Num.Reg" >
                        <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/numReg" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/numReg').getObject()}"/>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/numReg').getObject())}
                    </p:column>
                    <p:column headerText="Universidad">
                        <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/universidad" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/universidad').getObject()}"/>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/universidad').getObject())}
                    </p:column>
                    <p:column headerText="Tipo">
                        <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/tipoCarrera" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/tipoCarrera').getObject()}"/>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/tipoCarrera').getObject())}
                    </p:column>
                    <p:column headerText="Carrera">
                        <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/nombreCarrera" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/nombreCarrera').getObject()}"/>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/nombreCarrera').getObject())}
                    </p:column>
                    <p:column headerText="Estado">
                        <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/estado" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/estado').getObject()}"/>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/estado').getObject())}
                    </p:column>
                    <p:column headerText="Ingreso" width="60">
                        <h:panelGroup rendered="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioIngreso') ne null}">
                        <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/anioIngreso" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioIngreso').getObject()}"/>
                        </h:panelGroup>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioIngreso').getObject())}
                    </p:column>
                    <p:column headerText="Egreso" width="60">
                        <h:panelGroup rendered="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioEgreso') ne null}">
                            <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/anioEgreso" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioEgreso').getObject()}"/>
                        </h:panelGroup>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioEgreso').getObject())}
                    </p:column>
                    <p:column headerText="Graducación" width="60">
                        <h:panelGroup rendered="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioGraduacion') ne null}">
                        <a about="#{univ.getURI()}" property="http://sovi.ddns.net/ucuenca/tfinal/anioGraduacion" href="#{ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioGraduacion').getObject()}"/>
                        </h:panelGroup>
                        #{ctrRdf.dato(ctrRdf.fff(univ,'http://sovi.ddns.net/ucuenca/tfinal/anioGraduacion').getObject())}
                    </p:column>
                </p:dataTable>
            </p:panel>
        </c:forEach>

    </ui:define>

</ui:composition>